<html>
  <head>
    <title>Classroom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link type="image/png" rel="icon" href="https://ssl.gstatic.com/classroom/favicon.png">
    <script src="jquery.js"></script>
    <script src="addicting/script.js"></script>
  </head>
  <body>
    
    <h1 style="color:red;4">NICK IS BANNED</h1>
    <a href="/">Main Page</a>
    <br/>
    <button id="lastgame">Last Game</button>
    <button id="nextgame">Next Game</button>
    <button id="fullscreen">FullScreen</button>
    <p id="gameid">Game Id: 0</p>
    <hr/>
    <br/>
    <iframe id="game_frame" style="resize:both;" width="70%" height="70%" src="https://www.addictinggames.com/embed/html5-games/23687" scrolling="no"></iframe>
    
  </body>
</html>