<html>
  <head>
    <title>FNF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="jquery.js"></script>
    <script src="ezlib.js"></script>
    <script src="fnf/script.js"></script>
  </head>
  <body>
    
    <h1>FNF</h1>
    <a href="/">Main Page</a>
    <br/>
    <a href="https://ninja-muffin24.itch.io/funkin">Friday Night Funkin.</a>
    <hr/>
    <br/>
    <iframe id="fnf_frame" style="resize:both; width:800px; height:500px;" allowfullscreen="true" src="https://v6p9d9t4.ssl.hwcdn.net/html/2876359-359162/index.html"></iframe>
    
  </body>
</html>