<html>
  <head>
    <title>haven't thought of a name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="idk/script.js"></script>
  </head>
  <body>
    
    <h1>Idk what to name this</h1>
    <a href="/">Main Page</a>
    <br/>
    <a href="idk/script.js">Source code!</a>
    <hr/>
    <br/>
    <br/>
    <div id="main">
      <input id="input"/>
      <button id="submit">Submit</button>
    </div>
    <br/>
    <div id="scroll" class="scrollable"></div>
    
  </body>
</html>