<html>
  <head>
    <title>Loading</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script data-ad-client="ca-pub-5533562023996837" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="jquery.js"></script>
    <script src="ezlib.js"></script>
    <script src="updater.js"></script>
  </head>
  <body>
    <h1>Please wait while we load your game...</h1>
    <a href="https://gdirectory.glitch.me">gdirectory</a>
    <hr/>
    <img src="https://cdn.glitch.com/a0e95398-9276-4d65-b1ad-163ce4e927a2%2FYoutube_loading_symbol_1_(wobbly).gif?v=1615485545643">
  </body>
</html>