<html>
  <head>
    <title>LOCKED</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" rel="icon" href="https://cdn.glitch.com/a0e95398-9276-4d65-b1ad-163ce4e927a2%2FScreenshot%202021-03-24%20at%201.47.36%20PM.png?v=1616611674079">
    <link rel="stylesheet" href="style.css">
    
    <script>
    console.error("Server locked")
    </script>
  </head>
  <body style="border: solid red 5px; margin 10px;">
    <h1 style="color:red;">Server has been locked</h1>
    <p style="color:red;">Lockdown has been initiated.</p>
    <p style="color:red;">You do not have permission to view this page.</p>
    <hr/>
  </body>
</html>