<html>
  <head>
    <title>Google Classroom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link type="image/png" rel="icon" href="https://ssl.gstatic.com/classroom/favicon.png">
    <script src="jquery.js"></script>
  </head>
  <body>
    
    <h1>R3</h1>
    <a href="/">Main Page</a>
    <br/>
    <a href="https://www.coolmathgames.com/0-run-3/play">Run 3 (This should have no advertisements on it)</a>
    <hr/>
    <br/>
    <p>This refuses to connect because coolmathgames doesnt like what im doing. Send any version of run3 to rust#1622.</p>
    <iframe id="fnf_frame" style="resize:both; width:800px; height:500px;" allowfullscreen="true" src="https://www.coolmathgames.com/0-run-3/play"></iframe>
    
  </body>
</html>