<html>
  <head>
    <title>The Cool Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body { background-color: black;color: white; }
      #game_canvas { 
        width: 700; height: 700;
        top: 0; left: 0;
        margin-left: auto; margin-right: auto;
        line-height:200px;
        display: flex; justify-content: center; align-items: center;
      }
    </style>
    <script src="canvas_engine.js"></script>
  </head>
  <body>
    <div id="title_screen">
      <h1>The Cool Game</h1>
      <p>a game made by rust#1622. And yes I am not good at naming things.</p>
    </div>
  </body>
</html>