<html>
  <head>
    <title>Update Log</title>
    <meta name="description" content="Update log">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    
    <h1>Updates since 3/3/21:</h1>
    <hr/>
    <ul>
      <li>3/3/21: Main Page rework. Made it so if multiple views are being written it rejects one to avoid erroring (Use to create a NaN).</li>
      <li>3/4/21: Made views update every 5 seconds. Library updates.</li>
      <li>3/5/21: Megapatch: added coolgames page. 10+ games</li>
      <li>3/21/21: Kinda late putting this here but blockfunkin has been added. A game made by me. Maps were done by Sleeted. <a href="https://gdirectory.glitch.me/blockfunkin.html">Block Funkin</a></li>
      <li>3/25/21: Added an autoupdate. Will refresh the page when an update has been added.</li>
    </ul>
    
  </body>
</html>

<!-- Go check out market elephant! https://market-elephant.glitch.me/ -->
<!-- Website written by rust#1622 discord id: 480446184004124702 -->